<div class="row">
    <div ng-repeat="image in vm.images | orderBy: '-image.date' track by $index" ng-if="image" class="col-xs-6 col-md-3">
	    <div class="thumbnail">
		    <a ui-sref="user.gallery.image({id: image._id, index: $index})">
			    <img ng-src="{{image.data}}" class="img-responsive img-thumbnail" />
		    </a>
		    <div class="caption bottom-buffer">

			    <a href ng-if="image.likes.length > 0" data-html="true" data-placement="bottom" bs-tooltip="vm.tooltip($index)">
				    {{image.likes.length}}
				    <i class="fa fa-thumbs-o-up"></i>
				    &nbsp;&nbsp;
			    </a>
			    <span ng-if="image.commentCount > 0">{{image.commentCount}} <i class="fa fa-comment-o"></i></span>

			    <a href class="delete-image pull-right" ng-show="vm.currentUser._id === vm.user._id" ng-click="vm.deleteImage(image._id, $index)">
				    Delete &nbsp;
				    <i class="fa fa-trash"></i>
			    </a>
			    &nbsp;
		    </div>
	    </div>
    </div>
</div>
<p class="text-center" ng-show="vm.loaded < vm.user.images.length">
	<button ng-click="vm.loadImages()" class="btn btn-primary btn-lg">Load more</button>
</p>