<div class="modal" tabindex="-1" role="dialog" ng-keyup="vm.navigate($event.keyCode)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{vm.image.image.title}}</h4>
            </div>
            <div class="modal-body">
                <a ui-sref="user.gallery.image({id: vm.prev, index: vm.index-1})"
                   ng-hide="vm.prev == undefined"
                   href="#"
                   ng-click="$hide()">Prev</a>
                -
                <a ui-sref="user.gallery.image({id: vm.next, index: vm.index+1})"
                   ng-hide="vm.next == undefined"
                   href="#"
                   ng-click="$hide()">Next</a>
                <br>
                Date: {{vm.image.image.date}}
                <br>

                <button class="btn btn-info" ng-show="!vm.isLiked()" ng-click="vm.addLike()">Like</button>
                <button class="btn btn-warning" ng-show="vm.isLiked()" ng-click="vm.removeLike()">Unlike</button>

                <div class="row">
                    <div class="col-md-8">
                        <img ng-src="{{vm.image.data}}" class="img-responsive" />
                    </div>
                    <div class="col-md-4">

                        <ul class="list-unstyled">
                            <li ng-repeat="comment in vm.comments">
                                <a ui-sref="user.gallery({username: comment.author})" ng-click="$hide()">
                                    <img ng-src="{{comment.authorAvatar}}" alt="avatar" class="comment-avatar">
                                    {{comment.author}}
                                </a>
                                 - {{comment.text}}
                                <button class="btn btn-danger" ng-click="vm.deleteComment(comment._id)" ng-show="vm.currentUser.username == vm.user.username || vm.currentUser.username == comment.author">Delete</button>
                            </li>
                        </ul>

                        <label for="comment">Comment </label>
                        <input type="text" ng-model="vm.comment" id="comment" required maxlength="500">

                        <br>
                        <button class="btn btn-primary" ng-click="vm.addComment()" ng-disabled="!vm.comment">
                            Add comment
                        </button>

                        <br>
                        <ul class="list-unstyled">
                            <li ng-repeat="like in vm.likes">
                                <a ui-sref="user.gallery({username: like})">{{like}}</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>