<div class="row profile-details">
    <div class="col-md-2">
        <img ng-src="{{vm.user.avatarPath}}" alt="Avatar" class="avatar">
    </div>
    <div class="col-md-10">
	    <div ng-if="vm.isAuthenticated() && vm.user._id != vm.currentUser._id" class="pull-right">
		    <button ng-show="!vm.isFollowed" class="btn btn-primary" ng-click="vm.follow()">Follow</button>
		    <button ng-show="vm.isFollowed" class="btn btn-info" ng-click="vm.unfollow()">Unfollow</button>
	    </div>
        <h1>{{vm.user.username}}</h1>
        {{vm.user.firstName}} {{vm.user.lastName}} <span ng-if="vm.user.age">| {{vm.user.age}}</span> <span ng-if="vm.user.gender"> | {{vm.user.gender}}</span>

        {{vm.user.description}}
        <b><a href="#" ng-click="vm.openModal('followers')">{{vm.user.followers.length}} follower<span ng-show="vm.user.followers.length !== 1">s</span></a></b></li>
        <b><a href="#" ng-click="vm.openModal('following')">{{vm.user.following.length}} following<span ng-show="vm.user.followings.length !== 1">s</span></a></b></li>


    </div>
</div>

<div ui-view />
