
<div class="row">
    <div class="col-md-2">
        <img ng-src="{{vm.user.avatarPath}}" alt="Avatar" class="avatar">
    </div>
    <div class="col-md-4">
        <h1>{{vm.user.username}}</h1>
        <ul class="list-unstyled">
            <li><b>Full name:</b> {{vm.user.firstName}} {{vm.user.lastName}}</li>
            <li><b>Age:</b> {{vm.user.age}}</li>
            <li><b>Gender:</b> {{vm.user.gender}}</li>
        </ul>
    </div>
    <div class="col-md-2" ng-if="vm.user._id != vm.currentUser._id">
        <button ng-if="!vm.isFollowed()" class="btn btn-primary" ng-click="vm.follow()">Follow</button>
        <button ng-if="vm.isFollowed()" class="btn btn-info" ng-click="vm.unfollow()">Unfollow</button>
    </div>
</div>

<div ui-view />