$navbar-height: 50px;
$nav-link-padding: 5px 15px;

@import "bootstrap";

$font-stack: Helvetica sans-serif;
$primary-color: #000;

body {
  color: $primary-color;
  padding: 70px 50px;
}

img {
  &.menu-item {
    height: 22px;
    width: 22px;
  }

  &.feed {
    width: 40em;
  }

  &.avatar {
    width: 150px;
  }

  &.notification {
    width: 60px;
  }

  &.comment-avatar {
    width: 40px;
  }
}

.popover-content {
  padding: 0;
}

.notifications-list {
  padding: 0;
}

.notification-container {
  padding: 10px 10px 0 10px;

  &:hover {
    cursor: pointer;
    background: #CCCCCC;
  }
}

.new-notification {
  color: red;

  &:hover {
    color: pink;
  }
}

.no-notifications {
  padding: 20px;
}


.popover {
  min-width: 400px;
  max-height: 600px;
  overflow: scroll;

  &.arrow {
    display: none;
  }
}

.thumbnail {
  .gallery-item {
    height: 320px;
  }
}

.menu-item {
  font-size: 1.2em;
}

@media screen and (min-width: 992px) {
  .container.slim {
    width: 65%;
  }
}

div.profile-details {
  padding-bottom: 30px;
}


#comment-box {
  max-height: 400px;
  overflow: scroll;
}


/* Modal window settings */
.modal {
  text-align: center;
}

.modal-dialog.slim {
  width: 400px;

  .modal-content {
    max-height: 400px;
    overflow: scroll;
  }
}


@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  @media screen
  and (min-width: 1200px)
  and (max-width: 1920px) {
    width: 1200px;
  }
  @media screen
  and (min-width: 800px)
  and (max-width: 1199px) {
    width: 800px;
  }
  @media screen
  and (min-width: 600px)
  and (max-width: 799px) {
    width: 600px;
  }
}


.modal-backdrop.backdrop-anim {
  opacity: 0;
}

.modal-backdrop.am-fade {
  opacity: 0;
}


/* Loader */
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  //overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

$black: rgb(0,0,0);
$off-black: rgba($black, 0.2);

.loading-spin {
  display: block;
  width: 50px;
  height: 50px;
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
  border: .90rem solid $off-black;
  border-top-color: $black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}