@import "bootstrap";

/* Modal window settings */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  @media screen
  and (min-width: 1200px)
  and (max-width: 1920px) {
    width: 1200px;
  }
  @media screen
  and (min-width: 800px)
  and (max-width: 1199px) {
    width: 800px;
  }
  @media screen
  and (min-width: 600px)
  and (max-width: 799px) {
    width: 600px;
  }
}


.modal-backdrop.backdrop-anim {
  opacity: 0;
}

.modal-backdrop.am-fade {
  opacity: 0;
}

//

.popover-content {
  padding: 0;
}

.notifications-list {
  padding: 0;
}

.notification-container {
  padding: 10px 10px 0 10px;
}

.notification-container:hover {
  cursor: pointer;
  background: #CCCCCC;
}

.new-notification {
  color: red;
}
.new-notification:hover {
  color: pink;
}

.no-notifications {
  padding: 20px;
}

.popover > .arrow {
  display: none;
}

.popover {
  min-width: 400px;
  max-height: 600px;
  overflow: scroll;
}

.thumbnail.gallery-item {
  height: 320px;
}

body {
  padding-top: 80px;
}

img.avatar {
  width: 150px;
}
img.comment-avatar {
  width: 50px;
}

img.notification {
  width: 60px;
}

img.menu-item {
  width: 25px;
}

img.feed {
  width: 30em;
}

button.menu {
  margin-right: 5px;
}

span.menu-item {
  font-size: 1.3em;
}

body {
  padding-bottom: 50px;
}

.modal-dialog.slim {
  width: 400px;

  .modal-content {
    max-height: 400px;
    overflow: scroll;
  }
}

#comment-box {
  max-height: 400px;
  overflow: scroll;
}

/* Loader */
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  //overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

$black: rgb(0,0,0);
$off-black: rgba($black, 0.2);

.loading-spin {
  display: block;
  width: 50px;
  height: 50px;
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
  border: .90rem solid $off-black;
  border-top-color: $black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}