<div>
	<div class="row">
		<div div class="col-md-9" ng-if="!vm.isAuthenticated()">

			<div class="jumbotron">
				<h1 class="bottom-buffer">Welcome to Drawbook!</h1>
				<a class="btn btn-primary btn-lg" ui-sref="login">Login</a> <br><br>
				<a class="btn btn-primary btn-lg" ui-sref="register">Register</a> <br><br>
				<a class="btn btn-default btn-lg" ui-sref="draw">Try drawing</a>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3" ng-if="vm.isAuthenticated()">
			<div ng-repeat="image in vm.feed" class="row center-block">
				<div class="panel panel-default">

					<div class="panel-heading">
						<div class="pull-right"><small>{{image.date | date: 'medium' }}</small></div>

						<a ui-sref="user.gallery({username: image._author.username})">
							<img ng-src="{{image._author.avatarPath}}" alt="avatar" class="comment-avatar">
							&nbsp;
							<strong>{{image._author.username}}</strong>
						</a>
					</div>

					<div class="panel-body">
						<a ui-sref="user.gallery({username: image._author.username, openImage: image._id})">
							<img ng-src="{{image.data}}" alt="image" class="img-responsive feed">
						</a>
					</div>

					<div class="panel-footer">
						<div class="pull-right">
							<a href ng-show="image.likes.length > 0" data-placement="bottom" data-html="true" bs-tooltip="vm.tooltip($index)">
								{{image.likes.length}}
								<i class="fa fa-thumbs-o-up"></i>
							</a>
							&nbsp;&nbsp;

							<span ng-show="image.commentCount">
								<a ui-sref="user.gallery({username: image._author.username, openImage: image._id})">
									{{image.commentCount}} <i class="fa fa-comment-o"></i>
								</a>
							</span>
						</div>

						<button
								ng-class="image.isLiked? 'btn btn-info' : 'btn btn-default'"
								ng-click="image.isLiked ? vm.dislike(image._author.username, image._id, $index) : vm.like(image._author, image._id, $index)">
							{{image.isLiked ? 'Liked' : 'Like'}}
							<i ng-class="image.isLiked ? 'fa fa-thumbs-up fa-lg' : 'fa fa-thumbs-o-up fa-lg'"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary" ng-click="vm.loadFeed()" ng-show="vm.user.feed.length > vm.loaded">Load more</button>
			</div>
		</div>

		<div class="col-md-3">
			<h3>Latest users: </h3>
			<ul class="list-unstyled">
				<li ng-repeat="user in vm.users">
					<a ui-sref="user.gallery({username: user.username})">
						<div class="user-box">
							<img ng-src="{{user.avatarPath}}" alt="avatar" class="comment-avatar">
							<span class="username">{{user.username}}</span>
						</div>
					</a>
				</li>
			</ul>

			<a ui-sref="users"><strong>Browse all users</strong></a>

		</div>
	</div>
</div>