<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

	            <div class="nav navbar-nav navbar-left">
		            <div class="navbar-brand">
			            <a href="#" ng-click="vm.goToHome()" class="navbar-link">Drawbook</a>
		            </div>
		            <form ng-submit="vm.searchUser()" class="navbar-form navbar-left hidden-xs">
			            <input type="text" class="form-control" placeholder="Search username..." ng-model="vm.searchInput">
		            </form>
	            </div>

		        <ul ng-show="vm.isAuthenticated()" class="nav navbar-nav navbar-right">
			        <li>
				        <a href="#" ui-sref="draw" class="menu-item"><span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs">New Drawing</span></a>
			        </li>
			        <li>
				        <a ui-sref="user.gallery({username: vm.user.username})" class="menu-item">
					        <img ng-src="{{vm.user.avatarPath}}" alt="avatar" class="menu-item">
					        {{vm.user.username}}
				        </a>
			        </li>
			        <li>
				        <a href notifications-popover bind="vm.init" ng-click="showPopover()" class="menu-item" ng-class="{'new-notification': vm.hasNewNotifications}">
					        <span class="glyphicon glyphicon-globe" ng-click="vm.setNotificationsAsRead()"></span>
				        </a>
			        </li>
			        <li>
				        <a ui-sref="edit" class="menu-item"><span class="glyphicon glyphicon-cog"></span></a>
			        </li>
			        <li>
				        <a href ng-click="vm.logout()" class="menu-item"><span class="glyphicon glyphicon-log-out"></span></a>
			        </li>
		        </ul>
        </div>

    </nav>

    <div growl></div>
    <div ui-view bs-loading-overlay></div>
</div>
