<div class="container slim">
    <h3 class="bottom-buffer">Edit Profile</h3>

    <form>
	    <div class="row">
		    <div class="col-md-4">
			    <div class="form-group">
				    <label for="firstName">First Name</label>
				    <input type="text" class="form-control" ng-model="vm.user.firstName" placeholder="First Name"  id="firstName" maxlength="20">
			    </div>
		    </div>
		    <div class="col-md-4">
			    <div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="text" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name"  id="lastName" maxlength="20">
			    </div>
		    </div>
		    <div class="col-md-4">
			    <div class="form-group">
				    <label>Username</label>
				    <input type="text" class="form-control" ng-model="vm.user.username" placeholder="Username" readonly>
			    </div>
		    </div>
	    </div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="age">Age</label>
					<input type="number" class="form-control" ng-model="vm.user.age" id="age" min="0" max="999" maxlength="3" ng-change="vm.checkNumber()">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="gender">Gender</label>
					<select name="gender" class="form-control" ng-options="g as g for g in vm.genders" ng-model="vm.user.gender" id="gender"></select>
				</div>
			</div>
		</div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" placeholder="Introduce yourself..." id="description" rows="3" class="form-control" ng-model="vm.user.description" maxlength="500"></textarea>
        </div>

		<div class="form-group">
			<label for="avatar-path">Avatar URL</label>
			&nbsp;&nbsp;
			<span class="text-warning" ng-show="!vm.correctImage"> Please provide a correct image URL.</span>
			<input type="text" class="form-control" ng-model="vm.user.avatarPath" placeholder="Paste image URL here..." id="avatar-path" ng-change="vm.isImage(vm.user.avatarPath)">
		</div>

		<p>
			<strong>Current avatar: </strong> <br/>
			<img ng-src="{{vm.correctImage ? vm.user.avatarPath : 'img/default-avatar.jpg'}}" alt="Avatar" class="avatar"> <br/>
			<button class="btn btn-danger" ng-click="vm.removeAvatar()" ng-show="vm.user.avatarPath != 'img/default-avatar.jpg'">Remove current avatar <i class="fa fa-times"></i></button>
		</p>


        <button class="btn btn-danger pull-right" ng-click="vm.remove()">Delete account <i class="fa fa-eraser"></i></button>
        <button class="btn btn-success" ng-disabled="!vm.correctImage" ng-click="vm.edit()">Save <i class="fa fa-check"></i></button>
    </form>
</div>