<div class="container slim">
    <h3 class="bottom-buffer">Edit Profile</h3>

    <form>
	    <div class="row">
		    <div class="col-md-4">
			    <div class="form-group">
				    <label for="firstName">First Name</label>
				    <input type="text" class="form-control" ng-model="vm.user.firstName" placeholder="First Name"  id="firstName" maxlength="20">
			    </div>
		    </div>
		    <div class="col-md-4">
			    <div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="text" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name"  id="lastName" maxlength="20">
			    </div>
		    </div>
		    <div class="col-md-4">
			    <div class="form-group">
				    <label>Username</label>
				    <input type="text" class="form-control" ng-model="vm.user.username" placeholder="Username" readonly>
			    </div>
		    </div>
	    </div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="age">Age</label>
					<input type="number" class="form-control" ng-model="vm.user.age" id="age" min="0" max="999" maxlength="3" ng-change="vm.checkNumber()">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="gender">Gender</label>
					<select name="gender" class="form-control" ng-options="g as g for g in vm.genders" ng-model="vm.user.gender" id="gender"></select>
				</div>
			</div>
		</div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" placeholder="Introduce yourself..." id="description" rows="3" class="form-control" ng-model="vm.user.description" maxlength="500"></textarea>
        </div>



	    <p>
		    <h4>Upload avatar</h4>
	        <small>Minimum dimensions: 150x150</small> <br>
	        <small>Maximum file size: 1MB</small> <br>
		    <strong>Current Avatar: </strong>
	    </p>
		<p>
			<img ngf-thumbnail="vm.file || vm.avatarPath" alt="Avatar" class="avatar">
		</p>

        <button class="btn btn-info"
                ngf-select
                ng-model="vm.file"
                ngf-min-height="150"
                ngf-min-width="150"
                ngf-max-size="1MB"
                ngf-pattern="'image/*'"
                ngf-accept="'image/*'"
                ngf-resize="{width: 300, height: 300}">
            Upload avatar <i class="fa fa-upload"></i>
        </button>
        &nbsp;
        <button class="btn btn-danger" ng-click="vm.removeAvatar()" ng-show="vm.file || vm.avatarPath != 'img/default-avatar.jpg'">Remove current avatar <i class="fa fa-times"></i></button>
        <p>
            <code ng-if="vm.file">File: {{vm.file.name}}</code>
        </p>
        {{vm.errorMsg}}

        <button class="btn btn-danger pull-right" ng-click="vm.remove()">Delete account <i class="fa fa-eraser"></i></button>
        <button class="btn btn-success" ng-click="vm.edit()">Save <i class="fa fa-check"></i></button>
    </form>
</div>