<p>
	<h2>Home</h2>

	<h3 ng-show="vm.isAuthenticated()">Welcome
		<a ui-sref="user.gallery({username: vm.user.username})">{{vm.user.username}}</a>
	</h3>

	<a ui-sref="login" ng-show="!vm.isAuthenticated()">Login</a>
	<button class="btn btn-default" ng-show="vm.isAuthenticated()" ng-click="vm.logout()">Logout</button>

<br>
	<a ui-sref="register" ng-show="!vm.isAuthenticated()">Register</a>

<br>

	<div ng-if="vm.isAuthenticated()">
		<button class="btn btn-info" ui-sref="draw">New Drawing</button>
		<br />
		<button class="btn btn-default" ui-sref="edit">Edit Profile</button>
	</div>
</p>