<h1>Edit Profile</h1>

<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" ng-model="vm.user.firstName" placeholder="First Name"  id="firstName">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name"  id="lastName">
    </div>

    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="vm.user.username" placeholder="Username" disabled>
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" ng-model="vm.user.age" id="age">
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" class="form-control"  ng-options="g as g for g in vm.genders" ng-model="vm.user.gender" id="gender"></select>
    </div>

    <b>Current Avatar: </b>
    <br>
    <img ngf-thumbnail="vm.file || vm.avatarPath" alt="Avatar">

    <div class="form-group">
        <button class="btn btn-info"
                ngf-select
                ng-model="vm.file"
                ngf-min-height="300"
                ngf-min-width="300"
                ngf-max-size="1MB"
                ngf-pattern="'image/*'"
                ngf-resize="{width: 300, height: 300}">
            Upload profile picture
        </button>
        <br>
        File: {{vm.file.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}}
        <br>
        {{vm.errorMsg}}
    </div>

    <button class="btn btn-primary"
            ng-click="vm.edit()"
    >Save</button>
</form>